footer{
  width: 100%;
  height: 56px;
  justify-content: space-around;
  align-items: center;
  background: #1f2d3d;
  .item{
    width: 100%;
    height: 100%;
    color: #fff;
    // font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    i{
      color: #fff;
      font-size: 20px;
    }
  }
}